/* Master Colors */
@colorAlpha:    #353D47;
@colorBeta:     #4A535D;
@colorGamma:    #EAEDF1;
@colorDelta:    #F66264;
@colorZeta:     #F3F3F3;
@colorOmega:    #FFFFFF;

@colorSuccess:  #61A45A;
@colorWarn:     #f0ad4e;
@colorInfo:     #5bc0de;
@colorFail:     #A15D5C;

/* Typography */
@baseFontSize: 16px;

/* Standard Text & Links */
@defaultColorBackground:    #EAEAEA;
@defaultColorText:          @colorAlpha;
@defaultColorLink:          #444;
@defaultColorLinkShadow:    #fafafa;
@defaultColorLinkHover:     #000;
@defaultColorLinkHoverBackground;

@navigationToolbarColorBackground: #323A45;
@navigationToolbarColorLink: #FFF;
@navigationToolbarColorLinkShadow: #a2a2a2;
@navigationToolbarColorLinkHover: #FAFAFA;
@navigationToolbarColorLinkHoverBackground: #47515E;

@footerColorBackground: @colorAlpha;
@footerColorText: #FFF;
@footerColorLink: #FFF;

@formColorLabel: @colorAlpha;
@formColorRequired: @colorDelta;
@formColorHelper: @colorBeta;
@formColorMessage;
@formColorError;
@formInputBackground: lighten(@defaultColorBackground, 20%);
@formInputColor: @colorAlpha;
@formInputBorderColor: darken(@colorAlpha, 25%);
@formInputColorActive: @colorAlpha;
@formInputBorderActive: @colorAlpha;
@formInputBorderRadius: 0 6px 6px 0;