ul, ol{
    list-style : none;
    margin     : 0 !important;


    li{
        padding-left : 8px;
        cursor: pointer;


        a{
            display : block;
        }
    }
}

.foldable{
    li{
        border-bottom : 1px solid #c0bfbf;
    }
}

html,body {
    font-family: 'Droid Sans', sans-serif;
}
