#redbook-header{
    height        : 3em; /* 32px */
    border-bottom : 1px solid #000;
    z-index       : 30;
}

/**
 * -- LAYOUT STYLES --
 * This layout consists of three main elements,
 *  `#redbook-nav` (navigation bar),
 *  `#redbook-schema` (email list), and
 *  `#redbook-main` (email content). All 3 elements are within `#redbook`
 */
#redbook, #redbook-nav, #redbook-schema, #redbook-main{
    margin  : 0;
    padding : 0;
}
#redbook{
}

@media (min-width : 75em){
    /* Context: 1200px */
    /**
     * Database & Schema columns
     */
    #redbook-nav, #redbook-schema, #redbook-main{
        position   : fixed;
        top        : 3em;
        bottom     : 0;
        overflow-x : hidden;
        overflow-y : auto;
        width      : auto;
    }

    #redbook-nav{
        width            : 11.25em; /* 180 / 16 */
        background-color : @navigationColorBackground;
        z-index          : 20;
        /*
         * YUI Overrides
         */
        .pure-menu.pure-menu-open{
            border           : none !important;
            background-color : inherit !important;
        }
    }

    #redbook-schema{
        margin-left      : 11.25em;
        padding          : 0 0.1875em; /* 3 / 16 */
        width            : 20em; /* 320px */
        background-color : @schemaColorBackground;
        overflow-x       : auto;
        z-index          : 10;

        #redbook-schema-tree{
            font-size   : 0.75em; /* 12 / 16 */
            font-family : 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
            font-weight : 400;
            line-height : 1.5em;

            li{
                &.schema-key:hover{
                    background-color : @schemaColorKeyHover;
                }
                a{
                    color           : @schemaColorLink;
                    text-decoration : none;
                    display         : block;
                    &:hover{
                        color       : @schemaColorLinkHover;
                        font-weight : 700;
                    }
                    &:active{ }
                }
                &:hover{
                    //                    background-color : #fafafa;
                }
                &:focus{
                    //                    color : blue;
                }

                ul, ol{
                    padding-left : 8px;
                }
            }

        }
    }

    #redbook-main{
        left     : 31.625em;
        right    : 0;
        overflow : auto;
        width    : auto; /* so that it's not 100% */

        #page{
            #page-title{
                border-bottom : 1px solid #000;

                h3{
                    margin      : 0;
                    line-height : 200%;
                }
            }
        }
    }
}

/**
 * Redbook Console
 */
#redbook-console{
    position : absolute;
    bottom   : 0;
    width    : 100%;

    #console-handler{
        height           : 2em;
        border-top       : 1px solid #000;
        background-color : #e5e5e5;

        i.fa{
            height      : 2em;
            width       : 2em;
            text-align  : center;
            line-height : 2em;
        }
    }
}
