@charset "UTF-8";
/**
* Gumby Framework
* ---------------
*
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* Gumby Framework
* http://gumbyframework.com
*
* Built with love by your friends @digitalsurgeons
* http://www.digitalsurgeons.com
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

.entypo-note.entypo-left a:before, .entypo-note.entypo-right a:after, .entypo.entypo-note:before{ content : "\266a"; height : inherit; }

.entypo-note-beamed.entypo-left a:before, .entypo-note-beamed.entypo-right a:after, .entypo.entypo-note-beamed:before{ content : "\266b"; height : inherit; }

.entypo-music.entypo-left a:before, .entypo-music.entypo-right a:after, .entypo.entypo-music:before{ content : "🎵"; height : inherit; }

.entypo-search.entypo-left a:before, .entypo-search.entypo-right a:after, .entypo.entypo-search:before{ content : "🔍"; height : inherit; }

.entypo-flashlight.entypo-left a:before, .entypo-flashlight.entypo-right a:after, .entypo.entypo-flashlight:before{ content : "🔦"; height : inherit; }

.entypo-mail.entypo-left a:before, .entypo-mail.entypo-right a:after, .entypo.entypo-mail:before{ content : "\2709"; height : inherit; }

.entypo-heart.entypo-left a:before, .entypo-heart.entypo-right a:after, .entypo.entypo-heart:before{ content : "\2665"; height : inherit; }

.entypo-heart-empty.entypo-left a:before, .entypo-heart-empty.entypo-right a:after, .entypo.entypo-heart-empty:before{ content : "\2661"; height : inherit; }

.entypo-star.entypo-left a:before, .entypo-star.entypo-right a:after, .entypo.entypo-star:before{ content : "\2605"; height : inherit; }

.entypo-star-empty.entypo-left a:before, .entypo-star-empty.entypo-right a:after, .entypo.entypo-star-empty:before{ content : "\2606"; height : inherit; }

.entypo-user.entypo-left a:before, .entypo-user.entypo-right a:after, .entypo.entypo-user:before{ content : "👤"; height : inherit; }

.entypo-users.entypo-left a:before, .entypo-users.entypo-right a:after, .entypo.entypo-users:before{ content : "👥"; height : inherit; }

.entypo-user-add.entypo-left a:before, .entypo-user-add.entypo-right a:after, .entypo.entypo-user-add:before{ content : "\e700"; height : inherit; }

.entypo-video.entypo-left a:before, .entypo-video.entypo-right a:after, .entypo.entypo-video:before{ content : "🎬"; height : inherit; }

.entypo-picture.entypo-left a:before, .entypo-picture.entypo-right a:after, .entypo.entypo-picture:before{ content : "🌄"; height : inherit; }

.entypo-camera.entypo-left a:before, .entypo-camera.entypo-right a:after, .entypo.entypo-camera:before{ content : "📷"; height : inherit; }

.entypo-layout.entypo-left a:before, .entypo-layout.entypo-right a:after, .entypo.entypo-layout:before{ content : "\268f"; height : inherit; }

.entypo-menu.entypo-left a:before, .entypo-menu.entypo-right a:after, .entypo.entypo-menu:before{ content : "\2630"; height : inherit; }

.entypo-check.entypo-left a:before, .entypo-check.entypo-right a:after, .entypo.entypo-check:before{ content : "\2713"; height : inherit; }

.entypo-cancel.entypo-left a:before, .entypo-cancel.entypo-right a:after, .entypo.entypo-cancel:before{ content : "\2715"; height : inherit; }

.entypo-cancel-circled.entypo-left a:before, .entypo-cancel-circled.entypo-right a:after, .entypo.entypo-cancel-circled:before{ content : "\2716"; height : inherit; }

.entypo-cancel-squared.entypo-left a:before, .entypo-cancel-squared.entypo-right a:after, .entypo.entypo-cancel-squared:before{ content : "\274e"; height : inherit; }

.entypo-plus.entypo-left a:before, .entypo-plus.entypo-right a:after, .entypo.entypo-plus:before{ content : "\2b"; height : inherit; }

.entypo-plus-circled.entypo-left a:before, .entypo-plus-circled.entypo-right a:after, .entypo.entypo-plus-circled:before{ content : "\2795"; height : inherit; }

.entypo-plus-squared.entypo-left a:before, .entypo-plus-squared.entypo-right a:after, .entypo.entypo-plus-squared:before{ content : "\229e"; height : inherit; }

.entypo-minus.entypo-left a:before, .entypo-minus.entypo-right a:after, .entypo.entypo-minus:before{ content : "\2d"; height : inherit; }

.entypo-minus-circled.entypo-left a:before, .entypo-minus-circled.entypo-right a:after, .entypo.entypo-minus-circled:before{ content : "\2796"; height : inherit; }

.entypo-minus-squared.entypo-left a:before, .entypo-minus-squared.entypo-right a:after, .entypo.entypo-minus-squared:before{ content : "\229f"; height : inherit; }

.entypo-help.entypo-left a:before, .entypo-help.entypo-right a:after, .entypo.entypo-help:before{ content : "\2753"; height : inherit; }

.entypo-help-circled.entypo-left a:before, .entypo-help-circled.entypo-right a:after, .entypo.entypo-help-circled:before{ content : "\e704"; height : inherit; }

.entypo-info.entypo-left a:before, .entypo-info.entypo-right a:after, .entypo.entypo-info:before{ content : "\2139"; height : inherit; }

.entypo-info-circled.entypo-left a:before, .entypo-info-circled.entypo-right a:after, .entypo.entypo-info-circled:before{ content : "\e705"; height : inherit; }

.entypo-back.entypo-left a:before, .entypo-back.entypo-right a:after, .entypo.entypo-back:before{ content : "🔙"; height : inherit; }

.entypo-home.entypo-left a:before, .entypo-home.entypo-right a:after, .entypo.entypo-home:before{ content : "\2302"; height : inherit; }

.entypo-link.entypo-left a:before, .entypo-link.entypo-right a:after, .entypo.entypo-link:before{ content : "🔗"; height : inherit; }

.entypo-attach.entypo-left a:before, .entypo-attach.entypo-right a:after, .entypo.entypo-attach:before{ content : "📎"; height : inherit; }

.entypo-lock.entypo-left a:before, .entypo-lock.entypo-right a:after, .entypo.entypo-lock:before{ content : "🔒"; height : inherit; }

.entypo-lock-open.entypo-left a:before, .entypo-lock-open.entypo-right a:after, .entypo.entypo-lock-open:before{ content : "🔓"; height : inherit; }

.entypo-eye.entypo-left a:before, .entypo-eye.entypo-right a:after, .entypo.entypo-eye:before{ content : "\e70a"; height : inherit; }

.entypo-tag.entypo-left a:before, .entypo-tag.entypo-right a:after, .entypo.entypo-tag:before{ content : "\e70c"; height : inherit; }

.entypo-bookmark.entypo-left a:before, .entypo-bookmark.entypo-right a:after, .entypo.entypo-bookmark:before{ content : "🔖"; height : inherit; }

.entypo-bookmarks.entypo-left a:before, .entypo-bookmarks.entypo-right a:after, .entypo.entypo-bookmarks:before{ content : "📑"; height : inherit; }

.entypo-flag.entypo-left a:before, .entypo-flag.entypo-right a:after, .entypo.entypo-flag:before{ content : "\2691"; height : inherit; }

.entypo-thumbs-up.entypo-left a:before, .entypo-thumbs-up.entypo-right a:after, .entypo.entypo-thumbs-up:before{ content : "👍"; height : inherit; }

.entypo-thumbs-down.entypo-left a:before, .entypo-thumbs-down.entypo-right a:after, .entypo.entypo-thumbs-down:before{ content : "👎"; height : inherit; }

.entypo-download.entypo-left a:before, .entypo-download.entypo-right a:after, .entypo.entypo-download:before{ content : "📥"; height : inherit; }

.entypo-upload.entypo-left a:before, .entypo-upload.entypo-right a:after, .entypo.entypo-upload:before{ content : "📤"; height : inherit; }

.entypo-upload-cloud.entypo-left a:before, .entypo-upload-cloud.entypo-right a:after, .entypo.entypo-upload-cloud:before{ content : "\e711"; height : inherit; }

.entypo-reply.entypo-left a:before, .entypo-reply.entypo-right a:after, .entypo.entypo-reply:before{ content : "\e712"; height : inherit; }

.entypo-reply-all.entypo-left a:before, .entypo-reply-all.entypo-right a:after, .entypo.entypo-reply-all:before{ content : "\e713"; height : inherit; }

.entypo-forward.entypo-left a:before, .entypo-forward.entypo-right a:after, .entypo.entypo-forward:before{ content : "\27a6"; height : inherit; }

.entypo-quote.entypo-left a:before, .entypo-quote.entypo-right a:after, .entypo.entypo-quote:before{ content : "\275e"; height : inherit; }

.entypo-code.entypo-left a:before, .entypo-code.entypo-right a:after, .entypo.entypo-code:before{ content : "\e714"; height : inherit; }

.entypo-export.entypo-left a:before, .entypo-export.entypo-right a:after, .entypo.entypo-export:before{ content : "\e715"; height : inherit; }

.entypo-pencil.entypo-left a:before, .entypo-pencil.entypo-right a:after, .entypo.entypo-pencil:before{ content : "\270e"; height : inherit; }

.entypo-feather.entypo-left a:before, .entypo-feather.entypo-right a:after, .entypo.entypo-feather:before{ content : "\2712"; height : inherit; }

.entypo-print.entypo-left a:before, .entypo-print.entypo-right a:after, .entypo.entypo-print:before{ content : "\e716"; height : inherit; }

.entypo-retweet.entypo-left a:before, .entypo-retweet.entypo-right a:after, .entypo.entypo-retweet:before{ content : "\e717"; height : inherit; }

.entypo-keyboard.entypo-left a:before, .entypo-keyboard.entypo-right a:after, .entypo.entypo-keyboard:before{ content : "\2328"; height : inherit; }

.entypo-comment.entypo-left a:before, .entypo-comment.entypo-right a:after, .entypo.entypo-comment:before{ content : "\e718"; height : inherit; }

.entypo-chat.entypo-left a:before, .entypo-chat.entypo-right a:after, .entypo.entypo-chat:before{ content : "\e720"; height : inherit; }

.entypo-bell.entypo-left a:before, .entypo-bell.entypo-right a:after, .entypo.entypo-bell:before{ content : "🔔"; height : inherit; }

.entypo-attention.entypo-left a:before, .entypo-attention.entypo-right a:after, .entypo.entypo-attention:before{ content : "\26a0"; height : inherit; }

.entypo-alert.entypo-left a:before, .entypo-alert.entypo-right a:after, .entypo.entypo-alert:before{ content : "💥"; height : inherit; }

.entypo-vcard.entypo-left a:before, .entypo-vcard.entypo-right a:after, .entypo.entypo-vcard:before{ content : "\e722"; height : inherit; }

.entypo-address.entypo-left a:before, .entypo-address.entypo-right a:after, .entypo.entypo-address:before{ content : "\e723"; height : inherit; }

.entypo-location.entypo-left a:before, .entypo-location.entypo-right a:after, .entypo.entypo-location:before{ content : "\e724"; height : inherit; }

.entypo-map.entypo-left a:before, .entypo-map.entypo-right a:after, .entypo.entypo-map:before{ content : "\e727"; height : inherit; }

.entypo-direction.entypo-left a:before, .entypo-direction.entypo-right a:after, .entypo.entypo-direction:before{ content : "\27a2"; height : inherit; }

.entypo-compass.entypo-left a:before, .entypo-compass.entypo-right a:after, .entypo.entypo-compass:before{ content : "\e728"; height : inherit; }

.entypo-cup.entypo-left a:before, .entypo-cup.entypo-right a:after, .entypo.entypo-cup:before{ content : "\2615"; height : inherit; }

.entypo-trash.entypo-left a:before, .entypo-trash.entypo-right a:after, .entypo.entypo-trash:before{ content : "\e729"; height : inherit; }

.entypo-doc.entypo-left a:before, .entypo-doc.entypo-right a:after, .entypo.entypo-doc:before{ content : "\e730"; height : inherit; }

.entypo-docs.entypo-left a:before, .entypo-docs.entypo-right a:after, .entypo.entypo-docs:before{ content : "\e736"; height : inherit; }

.entypo-doc-landscape.entypo-left a:before, .entypo-doc-landscape.entypo-right a:after, .entypo.entypo-doc-landscape:before{ content : "\e737"; height : inherit; }

.entypo-doc-text.entypo-left a:before, .entypo-doc-text.entypo-right a:after, .entypo.entypo-doc-text:before{ content : "📄"; height : inherit; }

.entypo-doc-text-inv.entypo-left a:before, .entypo-doc-text-inv.entypo-right a:after, .entypo.entypo-doc-text-inv:before{ content : "\e731"; height : inherit; }

.entypo-newspaper.entypo-left a:before, .entypo-newspaper.entypo-right a:after, .entypo.entypo-newspaper:before{ content : "📰"; height : inherit; }

.entypo-book-open.entypo-left a:before, .entypo-book-open.entypo-right a:after, .entypo.entypo-book-open:before{ content : "📖"; height : inherit; }

.entypo-book.entypo-left a:before, .entypo-book.entypo-right a:after, .entypo.entypo-book:before{ content : "📕"; height : inherit; }

.entypo-folder.entypo-left a:before, .entypo-folder.entypo-right a:after, .entypo.entypo-folder:before{ content : "📁"; height : inherit; }

.entypo-archive.entypo-left a:before, .entypo-archive.entypo-right a:after, .entypo.entypo-archive:before{ content : "\e738"; height : inherit; }

.entypo-box.entypo-left a:before, .entypo-box.entypo-right a:after, .entypo.entypo-box:before{ content : "📦"; height : inherit; }

.entypo-rss.entypo-left a:before, .entypo-rss.entypo-right a:after, .entypo.entypo-rss:before{ content : "\e73a"; height : inherit; }

.entypo-phone.entypo-left a:before, .entypo-phone.entypo-right a:after, .entypo.entypo-phone:before{ content : "📞"; height : inherit; }

.entypo-cog.entypo-left a:before, .entypo-cog.entypo-right a:after, .entypo.entypo-cog:before{ content : "\2699"; height : inherit; }

.entypo-tools.entypo-left a:before, .entypo-tools.entypo-right a:after, .entypo.entypo-tools:before{ content : "\2692"; height : inherit; }

.entypo-share.entypo-left a:before, .entypo-share.entypo-right a:after, .entypo.entypo-share:before{ content : "\e73c"; height : inherit; }

.entypo-shareable.entypo-left a:before, .entypo-shareable.entypo-right a:after, .entypo.entypo-shareable:before{ content : "\e73e"; height : inherit; }

.entypo-basket.entypo-left a:before, .entypo-basket.entypo-right a:after, .entypo.entypo-basket:before{ content : "\e73d"; height : inherit; }

.entypo-bag.entypo-left a:before, .entypo-bag.entypo-right a:after, .entypo.entypo-bag:before{ content : "👜"; height : inherit; }

.entypo-calendar.entypo-left a:before, .entypo-calendar.entypo-right a:after, .entypo.entypo-calendar:before{ content : "📅"; height : inherit; }

.entypo-login.entypo-left a:before, .entypo-login.entypo-right a:after, .entypo.entypo-login:before{ content : "\e740"; height : inherit; }

.entypo-logout.entypo-left a:before, .entypo-logout.entypo-right a:after, .entypo.entypo-logout:before{ content : "\e741"; height : inherit; }

.entypo-mic.entypo-left a:before, .entypo-mic.entypo-right a:after, .entypo.entypo-mic:before{ content : "🎤"; height : inherit; }

.entypo-mute.entypo-left a:before, .entypo-mute.entypo-right a:after, .entypo.entypo-mute:before{ content : "🔇"; height : inherit; }

.entypo-sound.entypo-left a:before, .entypo-sound.entypo-right a:after, .entypo.entypo-sound:before{ content : "🔊"; height : inherit; }

.entypo-volume.entypo-left a:before, .entypo-volume.entypo-right a:after, .entypo.entypo-volume:before{ content : "\e742"; height : inherit; }

.entypo-clock.entypo-left a:before, .entypo-clock.entypo-right a:after, .entypo.entypo-clock:before{ content : "🕔"; height : inherit; }

.entypo-hourglass.entypo-left a:before, .entypo-hourglass.entypo-right a:after, .entypo.entypo-hourglass:before{ content : "\23f3"; height : inherit; }

.entypo-lamp.entypo-left a:before, .entypo-lamp.entypo-right a:after, .entypo.entypo-lamp:before{ content : "💡"; height : inherit; }

.entypo-light-down.entypo-left a:before, .entypo-light-down.entypo-right a:after, .entypo.entypo-light-down:before{ content : "🔅"; height : inherit; }

.entypo-light-up.entypo-left a:before, .entypo-light-up.entypo-right a:after, .entypo.entypo-light-up:before{ content : "🔆"; height : inherit; }

.entypo-adjust.entypo-left a:before, .entypo-adjust.entypo-right a:after, .entypo.entypo-adjust:before{ content : "\25d1"; height : inherit; }

.entypo-block.entypo-left a:before, .entypo-block.entypo-right a:after, .entypo.entypo-block:before{ content : "🚫"; height : inherit; }

.entypo-resize-full.entypo-left a:before, .entypo-resize-full.entypo-right a:after, .entypo.entypo-resize-full:before{ content : "\e744"; height : inherit; }

.entypo-resize-small.entypo-left a:before, .entypo-resize-small.entypo-right a:after, .entypo.entypo-resize-small:before{ content : "\e746"; height : inherit; }

.entypo-popup.entypo-left a:before, .entypo-popup.entypo-right a:after, .entypo.entypo-popup:before{ content : "\e74c"; height : inherit; }

.entypo-publish.entypo-left a:before, .entypo-publish.entypo-right a:after, .entypo.entypo-publish:before{ content : "\e74d"; height : inherit; }

.entypo-window.entypo-left a:before, .entypo-window.entypo-right a:after, .entypo.entypo-window:before{ content : "\e74e"; height : inherit; }

.entypo-arrow-combo.entypo-left a:before, .entypo-arrow-combo.entypo-right a:after, .entypo.entypo-arrow-combo:before{ content : "\e74f"; height : inherit; }

.entypo-down-circled.entypo-left a:before, .entypo-down-circled.entypo-right a:after, .entypo.entypo-down-circled:before{ content : "\e758"; height : inherit; }

.entypo-left-circled.entypo-left a:before, .entypo-left-circled.entypo-right a:after, .entypo.entypo-left-circled:before{ content : "\e759"; height : inherit; }

.entypo-right-circled.entypo-left a:before, .entypo-right-circled.entypo-right a:after, .entypo.entypo-right-circled:before{ content : "\e75a"; height : inherit; }

.entypo-up-circled.entypo-left a:before, .entypo-up-circled.entypo-right a:after, .entypo.entypo-up-circled:before{ content : "\e75b"; height : inherit; }

.entypo-down-open.entypo-left a:before, .entypo-down-open.entypo-right a:after, .entypo.entypo-down-open:before{ content : "\e75c"; height : inherit; }

.entypo-left-open.entypo-left a:before, .entypo-left-open.entypo-right a:after, .entypo.entypo-left-open:before{ content : "\e75d"; height : inherit; }

.entypo-right-open.entypo-left a:before, .entypo-right-open.entypo-right a:after, .entypo.entypo-right-open:before{ content : "\e75e"; height : inherit; }

.entypo-up-open.entypo-left a:before, .entypo-up-open.entypo-right a:after, .entypo.entypo-up-open:before{ content : "\e75f"; height : inherit; }

.entypo-down-open-min.entypo.entypo-left a:before, .entypo-down-open-min.entypo.entypo-right a:after, .entypo.entypo-down-open-mini:before{ content : "\e760"; height : inherit; }

.entypo-left-open-min.entypo.entypo-left a:before, .entypo-left-open-min.entypo.entypo-right a:after, .entypo.entypo-left-open-mini:before{ content : "\e761"; height : inherit; }

.entypo-right-open-min.entypo.entypo-left a:before, .entypo-right-open-min.entypo.entypo-right a:after, .entypo.entypo-right-open-mini:before{ content : "\e762"; height : inherit; }

.entypo-up-open-min.entypo.entypo-left a:before, .entypo-up-open-min.entypo.entypo-right a:after, .entypo.entypo-up-open-mini:before{ content : "\e763"; height : inherit; }

.entypo-down-open-big.entypo-left a:before, .entypo-down-open-big.entypo-right a:after, .entypo.entypo-down-open-big:before{ content : "\e764"; height : inherit; }

.entypo-left-open-big.entypo-left a:before, .entypo-left-open-big.entypo-right a:after, .entypo.entypo-left-open-big:before{ content : "\e765"; height : inherit; }

.entypo-right-open-big.entypo-left a:before, .entypo-right-open-big.entypo-right a:after, .entypo.entypo-right-open-big:before{ content : "\e766"; height : inherit; }

.entypo-up-open-big.entypo-left a:before, .entypo-up-open-big.entypo-right a:after, .entypo.entypo-up-open-big:before{ content : "\e767"; height : inherit; }

.entypo-down.entypo-left a:before, .entypo-down.entypo-right a:after, .entypo.entypo-down:before{ content : "\2b07"; height : inherit; }

.entypo-arrow-left.entypo-left a:before, .entypo-arrow-left.entypo-right a:after, .entypo.entypo-arrow-left:before{ content : "\2b05"; height : inherit; }

.entypo-arrow-right.entypo-left a:before, .entypo-arrow-right.entypo-right a:after, .entypo.entypo-arrow-right:before{ content : "\27a1"; height : inherit; }

.entypo-up.entypo-left a:before, .entypo-up.entypo-right a:after, .entypo.entypo-up:before{ content : "\2b06"; height : inherit; }

.entypo-down-dir.entypo-left a:before, .entypo-down-dir.entypo-right a:after, .entypo.entypo-down-dir:before{ content : "\25be"; height : inherit; }

.entypo-left-dir.entypo-left a:before, .entypo-left-dir.entypo-right a:after, .entypo.entypo-left-dir:before{ content : "\25c2"; height : inherit; }

.entypo-right-dir.entypo-left a:before, .entypo-right-dir.entypo-right a:after, .entypo.entypo-right-dir:before{ content : "\25b8"; height : inherit; }

.entypo-up-dir.entypo-left a:before, .entypo-up-dir.entypo-right a:after, .entypo.entypo-up-dir:before{ content : "\25b4"; height : inherit; }

.entypo-down-bold.entypo-left a:before, .entypo-down-bold.entypo-right a:after, .entypo.entypo-down-bold:before{ content : "\e4b0"; height : inherit; }

.entypo-left-bold.entypo-left a:before, .entypo-left-bold.entypo-right a:after, .entypo.entypo-left-bold:before{ content : "\e4ad"; height : inherit; }

.entypo-right-bold.entypo-left a:before, .entypo-right-bold.entypo-right a:after, .entypo.entypo-right-bold:before{ content : "\e4ae"; height : inherit; }

.entypo-up-bold.entypo-left a:before, .entypo-up-bold.entypo-right a:after, .entypo.entypo-up-bold:before{ content : "\e4af"; height : inherit; }

.entypo-down-thin.entypo-left a:before, .entypo-down-thin.entypo-right a:after, .entypo.entypo-down-thin:before{ content : "\2193"; height : inherit; }

.entypo-left-thin.entypo-left a:before, .entypo-left-thin.entypo-right a:after, .entypo.entypo-left-thin:before{ content : "\2190"; height : inherit; }

.entypo-right-thin.entypo-left a:before, .entypo-right-thin.entypo-right a:after, .entypo.entypo-right-thin:before{ content : "\2192"; height : inherit; }

.entypo-up-thin.entypo-left a:before, .entypo-up-thin.entypo-right a:after, .entypo.entypo-up-thin:before{ content : "\2191"; height : inherit; }

.entypo-ccw.entypo-left a:before, .entypo-ccw.entypo-right a:after, .entypo.entypo-ccw:before{ content : "\27f2"; height : inherit; }

.entypo-cw.entypo-left a:before, .entypo-cw.entypo-right a:after, .entypo.entypo-cw:before{ content : "\27f3"; height : inherit; }

.entypo-arrows-ccw.entypo-left a:before, .entypo-arrows-ccw.entypo-right a:after, .entypo.entypo-arrows-ccw:before{ content : "🔄"; height : inherit; }

.entypo-level-down.entypo-left a:before, .entypo-level-down.entypo-right a:after, .entypo.entypo-level-down:before{ content : "\21b3"; height : inherit; }

.entypo-level-up.entypo-left a:before, .entypo-level-up.entypo-right a:after, .entypo.entypo-level-up:before{ content : "\21b0"; height : inherit; }

.entypo-shuffle.entypo-left a:before, .entypo-shuffle.entypo-right a:after, .entypo.entypo-shuffle:before{ content : "🔀"; height : inherit; }

.entypo-loop.entypo-left a:before, .entypo-loop.entypo-right a:after, .entypo.entypo-loop:before{ content : "🔁"; height : inherit; }

.entypo-switch.entypo-left a:before, .entypo-switch.entypo-right a:after, .entypo.entypo-switch:before{ content : "\21c6"; height : inherit; }

.entypo-play.entypo-left a:before, .entypo-play.entypo-right a:after, .entypo.entypo-play:before{ content : "\25b6"; height : inherit; }

.entypo-stop.entypo-left a:before, .entypo-stop.entypo-right a:after, .entypo.entypo-stop:before{ content : "\25a0"; height : inherit; }

.entypo-pause.entypo-left a:before, .entypo-pause.entypo-right a:after, .entypo.entypo-pause:before{ content : "\2389"; height : inherit; }

.entypo-record.entypo-left a:before, .entypo-record.entypo-right a:after, .entypo.entypo-record:before{ content : "\26ab"; height : inherit; }

.entypo-to-end.entypo-left a:before, .entypo-to-end.entypo-right a:after, .entypo.entypo-to-end:before{ content : "\23ed"; height : inherit; }

.entypo-to-start.entypo-left a:before, .entypo-to-start.entypo-right a:after, .entypo.entypo-to-start:before{ content : "\23ee"; height : inherit; }

.entypo-fast-forward.entypo-left a:before, .entypo-fast-forward.entypo-right a:after, .entypo.entypo-fast-forward:before{ content : "\23e9"; height : inherit; }

.entypo-fast-backward.entypo-left a:before, .entypo-fast-backward.entypo-right a:after, .entypo.entypo-fast-backward:before{ content : "\23ea"; height : inherit; }

.entypo-progress-0.entypo-left a:before, .entypo-progress-0.entypo-right a:after, .entypo.entypo-progress-0:before{ content : "\e768"; height : inherit; }

.entypo-progress-1.entypo-left a:before, .entypo-progress-1.entypo-right a:after, .entypo.entypo-progress-1:before{ content : "\e769"; height : inherit; }

.entypo-progress-2.entypo-left a:before, .entypo-progress-2.entypo-right a:after, .entypo.entypo-progress-2:before{ content : "\e76a"; height : inherit; }

.entypo-progress-3.entypo-left a:before, .entypo-progress-3.entypo-right a:after, .entypo.entypo-progress-3:before{ content : "\e76b"; height : inherit; }

.entypo-target.entypo-left a:before, .entypo-target.entypo-right a:after, .entypo.entypo-target:before{ content : "🎯"; height : inherit; }

.entypo-palette.entypo-left a:before, .entypo-palette.entypo-right a:after, .entypo.entypo-palette:before{ content : "🎨"; height : inherit; }

.entypo-list.entypo-left a:before, .entypo-list.entypo-right a:after, .entypo.entypo-list:before{ content : "\e005"; height : inherit; }

.entypo-list-add.entypo-left a:before, .entypo-list-add.entypo-right a:after, .entypo.entypo-list-add:before{ content : "\e003"; height : inherit; }

.entypo-signal.entypo-left a:before, .entypo-signal.entypo-right a:after, .entypo.entypo-signal:before{ content : "📶"; height : inherit; }

.entypo-trophy.entypo-left a:before, .entypo-trophy.entypo-right a:after, .entypo.entypo-trophy:before{ content : "🏆"; height : inherit; }

.entypo-battery.entypo-left a:before, .entypo-battery.entypo-right a:after, .entypo.entypo-battery:before{ content : "🔋"; height : inherit; }

.entypo-back-in-time.entypo-left a:before, .entypo-back-in-time.entypo-right a:after, .entypo.entypo-back-in-time:before{ content : "\e771"; height : inherit; }

.entypo-monitor.entypo-left a:before, .entypo-monitor.entypo-right a:after, .entypo.entypo-monitor:before{ content : "💻"; height : inherit; }

.entypo-mobile.entypo-left a:before, .entypo-mobile.entypo-right a:after, .entypo.entypo-mobile:before{ content : "📱"; height : inherit; }

.entypo-device.entypo-left a:before, .entypo-device.entypo-right a:after, .entypo.entypo-device:before{ content : "📱"; height : inherit; }

.entypo-network.entypo-left a:before, .entypo-network.entypo-right a:after, .entypo.entypo-network:before{ content : "\e776"; height : inherit; }

.entypo-cd.entypo-left a:before, .entypo-cd.entypo-right a:after, .entypo.entypo-cd:before{ content : "💿"; height : inherit; }

.entypo-inbox.entypo-left a:before, .entypo-inbox.entypo-right a:after, .entypo.entypo-inbox:before{ content : "\e777"; height : inherit; }

.entypo-install.entypo-left a:before, .entypo-install.entypo-right a:after, .entypo.entypo-install:before{ content : "\e778"; height : inherit; }

.entypo-globe.entypo-left a:before, .entypo-globe.entypo-right a:after, .entypo.entypo-globe:before{ content : "🌎"; height : inherit; }

.entypo-cloud.entypo-left a:before, .entypo-cloud.entypo-right a:after, .entypo.entypo-cloud:before{ content : "\2601"; height : inherit; }

.entypo-cloud-thunder.entypo-left a:before, .entypo-cloud-thunder.entypo-right a:after, .entypo.entypo-cloud-thunder:before{ content : "\26c8"; height : inherit; }

.entypo-flash.entypo-left a:before, .entypo-flash.entypo-right a:after, .entypo.entypo-flash:before{ content : "\26a1"; height : inherit; }

.entypo-moon.entypo-left a:before, .entypo-moon.entypo-right a:after, .entypo.entypo-moon:before{ content : "\263d"; height : inherit; }

.entypo-flight.entypo-left a:before, .entypo-flight.entypo-right a:after, .entypo.entypo-flight:before{ content : "\2708"; height : inherit; }

.entypo-paper-plane.entypo-left a:before, .entypo-paper-plane.entypo-right a:after, .entypo.entypo-paper-plane:before{ content : "\e79b"; height : inherit; }

.entypo-leaf.entypo-left a:before, .entypo-leaf.entypo-right a:after, .entypo.entypo-leaf:before{ content : "🍂"; height : inherit; }

.entypo-lifebuoy.entypo-left a:before, .entypo-lifebuoy.entypo-right a:after, .entypo.entypo-lifebuoy:before{ content : "\e788"; height : inherit; }

.entypo-mouse.entypo-left a:before, .entypo-mouse.entypo-right a:after, .entypo.entypo-mouse:before{ content : "\e789"; height : inherit; }

.entypo-briefcase.entypo-left a:before, .entypo-briefcase.entypo-right a:after, .entypo.entypo-briefcase:before{ content : "💼"; height : inherit; }

.entypo-suitcase.entypo-left a:before, .entypo-suitcase.entypo-right a:after, .entypo.entypo-suitcase:before{ content : "\e78e"; height : inherit; }

.entypo-dot.entypo-left a:before, .entypo-dot.entypo-right a:after, .entypo.entypo-dot:before{ content : "\e78b"; height : inherit; }

.entypo-dot-2.entypo-left a:before, .entypo-dot-2.entypo-right a:after, .entypo.entypo-dot-2:before{ content : "\e78c"; height : inherit; }

.entypo-dot-3.entypo-left a:before, .entypo-dot-3.entypo-right a:after, .entypo.entypo-dot-3:before{ content : "\e78d"; height : inherit; }

.entypo-brush.entypo-left a:before, .entypo-brush.entypo-right a:after, .entypo.entypo-brush:before{ content : "\e79a"; height : inherit; }

.entypo-magnet.entypo-left a:before, .entypo-magnet.entypo-right a:after, .entypo.entypo-magnet:before{ content : "\e7a1"; height : inherit; }

.entypo-infinity.entypo-left a:before, .entypo-infinity.entypo-right a:after, .entypo.entypo-infinity:before{ content : "\221e"; height : inherit; }

.entypo-erase.entypo-left a:before, .entypo-erase.entypo-right a:after, .entypo.entypo-erase:before{ content : "\232b"; height : inherit; }

.entypo-chart-pie.entypo-left a:before, .entypo-chart-pie.entypo-right a:after, .entypo.entypo-chart-pie:before{ content : "\e751"; height : inherit; }

.entypo-chart-line.entypo-left a:before, .entypo-chart-line.entypo-right a:after, .entypo.entypo-chart-line:before{ content : "📈"; height : inherit; }

.entypo-chart-bar.entypo-left a:before, .entypo-chart-bar.entypo-right a:after, .entypo.entypo-chart-bar:before{ content : "📊"; height : inherit; }

.entypo-chart-area.entypo-left a:before, .entypo-chart-area.entypo-right a:after, .entypo.entypo-chart-area:before{ content : "🔾"; height : inherit; }

.entypo-tape.entypo-left a:before, .entypo-tape.entypo-right a:after, .entypo.entypo-tape:before{ content : "\2707"; height : inherit; }

.entypo-graduation-cap.entypo-left a:before, .entypo-graduation-cap.entypo-right a:after, .entypo.entypo-graduation-cap:before{ content : "🎓"; height : inherit; }

.entypo-language.entypo-left a:before, .entypo-language.entypo-right a:after, .entypo.entypo-language:before{ content : "\e752"; height : inherit; }

.entypo-ticket.entypo-left a:before, .entypo-ticket.entypo-right a:after, .entypo.entypo-ticket:before{ content : "🎫"; height : inherit; }

.entypo-water.entypo-left a:before, .entypo-water.entypo-right a:after, .entypo.entypo-water:before{ content : "💦"; height : inherit; }

.entypo-droplet.entypo-left a:before, .entypo-droplet.entypo-right a:after, .entypo.entypo-droplet:before{ content : "💧"; height : inherit; }

.entypo-air.entypo-left a:before, .entypo-air.entypo-right a:after, .entypo.entypo-air:before{ content : "\e753"; height : inherit; }

.entypo-credit-card.entypo-left a:before, .entypo-credit-card.entypo-right a:after, .entypo.entypo-credit-card:before{ content : "💳"; height : inherit; }

.entypo-floppy.entypo-left a:before, .entypo-floppy.entypo-right a:after, .entypo.entypo-floppy:before{ content : "💾"; height : inherit; }

.entypo-clipboard.entypo-left a:before, .entypo-clipboard.entypo-right a:after, .entypo.entypo-clipboard:before{ content : "📋"; height : inherit; }

.entypo-megaphone.entypo-left a:before, .entypo-megaphone.entypo-right a:after, .entypo.entypo-megaphone:before{ content : "📣"; height : inherit; }

.entypo-database.entypo-left a:before, .entypo-database.entypo-right a:after, .entypo.entypo-database:before{ content : "\e754"; height : inherit; }

.entypo-drive.entypo-left a:before, .entypo-drive.entypo-right a:after, .entypo.entypo-drive:before{ content : "\e755"; height : inherit; }

.entypo-bucket.entypo-left a:before, .entypo-bucket.entypo-right a:after, .entypo.entypo-bucket:before{ content : "\e756"; height : inherit; }

.entypo-thermometer.entypo-left a:before, .entypo-thermometer.entypo-right a:after, .entypo.entypo-thermometer:before{ content : "\e757"; height : inherit; }

.entypo-key.entypo-left a:before, .entypo-key.entypo-right a:after, .entypo.entypo-key:before{ content : "🔑"; height : inherit; }

.entypo-flow-cascade.entypo-left a:before, .entypo-flow-cascade.entypo-right a:after, .entypo.entypo-flow-cascade:before{ content : "\e790"; height : inherit; }

.entypo-flow-branch.entypo-left a:before, .entypo-flow-branch.entypo-right a:after, .entypo.entypo-flow-branch:before{ content : "\e791"; height : inherit; }

.entypo-flow-tree.entypo-left a:before, .entypo-flow-tree.entypo-right a:after, .entypo.entypo-flow-tree:before{ content : "\e792"; height : inherit; }

.entypo-flow-line.entypo-left a:before, .entypo-flow-line.entypo-right a:after, .entypo.entypo-flow-line:before{ content : "\e793"; height : inherit; }

.entypo-flow-parallel.entypo-left a:before, .entypo-flow-parallel.entypo-right a:after, .entypo.entypo-flow-parallel:before{ content : "\e794"; height : inherit; }

.entypo-rocket.entypo-left a:before, .entypo-rocket.entypo-right a:after, .entypo.entypo-rocket:before{ content : "🚀"; height : inherit; }

.entypo-gauge.entypo-left a:before, .entypo-gauge.entypo-right a:after, .entypo.entypo-gauge:before{ content : "\e7a2"; height : inherit; }

.entypo-traffic-cone.entypo-left a:before, .entypo-traffic-cone.entypo-right a:after, .entypo.entypo-traffic-cone:before{ content : "\e7a3"; height : inherit; }

.entypo-cc.entypo-left a:before, .entypo-cc.entypo-right a:after, .entypo.entypo-cc:before{ content : "\e7a5"; height : inherit; }

.entypo-cc-by.entypo-left a:before, .entypo-cc-by.entypo-right a:after, .entypo.entypo-cc-by:before{ content : "\e7a6"; height : inherit; }

.entypo-cc-nc.entypo-left a:before, .entypo-cc-nc.entypo-right a:after, .entypo.entypo-cc-nc:before{ content : "\e7a7"; height : inherit; }

.entypo-cc-nc-eu.entypo-left a:before, .entypo-cc-nc-eu.entypo-right a:after, .entypo.entypo-cc-nc-eu:before{ content : "\e7a8"; height : inherit; }

.entypo-cc-nc-jp.entypo-left a:before, .entypo-cc-nc-jp.entypo-right a:after, .entypo.entypo-cc-nc-jp:before{ content : "\e7a9"; height : inherit; }

.entypo-cc-sa.entypo-left a:before, .entypo-cc-sa.entypo-right a:after, .entypo.entypo-cc-sa:before{ content : "\e7aa"; height : inherit; }

.entypo-cc-nd.entypo-left a:before, .entypo-cc-nd.entypo-right a:after, .entypo.entypo-cc-nd:before{ content : "\e7ab"; height : inherit; }

.entypo-cc-pd.entypo-left a:before, .entypo-cc-pd.entypo-right a:after, .entypo.entypo-cc-pd:before{ content : "\e7ac"; height : inherit; }

.entypo-cc-zero.entypo-left a:before, .entypo-cc-zero.entypo-right a:after, .entypo.entypo-cc-zero:before{ content : "\e7ad"; height : inherit; }

.entypo-cc-share.entypo-left a:before, .entypo-cc-share.entypo-right a:after, .entypo.entypo-cc-share:before{ content : "\e7ae"; height : inherit; }

.entypo-cc-remix.entypo-left a:before, .entypo-cc-remix.entypo-right a:after, .entypo.entypo-cc-remix:before{ content : "\e7af"; height : inherit; }

.entypo-github.entypo-left a:before, .entypo-github.entypo-right a:after, .entypo.entypo-github:before{ content : "\f300"; height : inherit; }

.entypo-github-circled.entypo-left a:before, .entypo-github-circled.entypo-right a:after, .entypo.entypo-github-circled:before{ content : "\f301"; height : inherit; }

.entypo-flickr.entypo-left a:before, .entypo-flickr.entypo-right a:after, .entypo.entypo-flickr:before{ content : "\f303"; height : inherit; }

.entypo-flickr-circled.entypo-left a:before, .entypo-flickr-circled.entypo-right a:after, .entypo.entypo-flickr-circled:before{ content : "\f304"; height : inherit; }

.entypo-vimeo.entypo-left a:before, .entypo-vimeo.entypo-right a:after, .entypo.entypo-vimeo:before{ content : "\f306"; height : inherit; }

.entypo-vimeo-circled.entypo-left a:before, .entypo-vimeo-circled.entypo-right a:after, .entypo.entypo-vimeo-circled:before{ content : "\f307"; height : inherit; }

.entypo-twitter.entypo-left a:before, .entypo-twitter.entypo-right a:after, .entypo.entypo-twitter:before{ content : "\f309"; height : inherit; }

.entypo-twitter-circled.entypo-left a:before, .entypo-twitter-circled.entypo-right a:after, .entypo.entypo-twitter-circled:before{ content : "\f30a"; height : inherit; }

.entypo-facebook.entypo-left a:before, .entypo-facebook.entypo-right a:after, .entypo.entypo-facebook:before{ content : "\f30c"; height : inherit; }

.entypo-facebook-circled.entypo-left a:before, .entypo-facebook-circled.entypo-right a:after, .entypo.entypo-facebook-circled:before{ content : "\f30d"; height : inherit; }

.entypo-facebook-squared.entypo-left a:before, .entypo-facebook-squared.entypo-right a:after, .entypo.entypo-facebook-squared:before{ content : "\f30e"; height : inherit; }

.entypo-gplus.entypo-left a:before, .entypo-gplus.entypo-right a:after, .entypo.entypo-gplus:before{ content : "\f30f"; height : inherit; }

.entypo-gplus-circled.entypo-left a:before, .entypo-gplus-circled.entypo-right a:after, .entypo.entypo-gplus-circled:before{ content : "\f310"; height : inherit; }

.entypo-pinterest.entypo-left a:before, .entypo-pinterest.entypo-right a:after, .entypo.entypo-pinterest:before{ content : "\f312"; height : inherit; }

.entypo-pinterest-circled.entypo-left a:before, .entypo-pinterest-circled.entypo-right a:after, .entypo.entypo-pinterest-circled:before{ content : "\f313"; height : inherit; }

.entypo-tumblr.entypo-left a:before, .entypo-tumblr.entypo-right a:after, .entypo.entypo-tumblr:before{ content : "\f315"; height : inherit; }

.entypo-tumblr-circled.entypo-left a:before, .entypo-tumblr-circled.entypo-right a:after, .entypo.entypo-tumblr-circled:before{ content : "\f316"; height : inherit; }

.entypo-linkedin.entypo-left a:before, .entypo-linkedin.entypo-right a:after, .entypo.entypo-linkedin:before{ content : "\f318"; height : inherit; }

.entypo-linkedin-circled.entypo-left a:before, .entypo-linkedin-circled.entypo-right a:after, .entypo.entypo-linkedin-circled:before{ content : "\f319"; height : inherit; }

.entypo-dribbble.entypo-left a:before, .entypo-dribbble.entypo-right a:after, .entypo.entypo-dribbble:before{ content : "\f31b"; height : inherit; }

.entypo-dribbble-circled.entypo-left a:before, .entypo-dribbble-circled.entypo-right a:after, .entypo.entypo-dribbble-circled:before{ content : "\f31c"; height : inherit; }

.entypo-stumbleupon.entypo-left a:before, .entypo-stumbleupon.entypo-right a:after, .entypo.entypo-stumbleupon:before{ content : "\f31e"; height : inherit; }

.entypo-stumbleupon-circled.entypo-left a:before, .entypo-stumbleupon-circled.entypo-right a:after, .entypo.entypo-stumbleupon-circled:before{ content : "\f31f"; height : inherit; }

.entypo-lastfm.entypo-left a:before, .entypo-lastfm.entypo-right a:after, .entypo.entypo-lastfm:before{ content : "\f321"; height : inherit; }

.entypo-lastfm-circled.entypo-left a:before, .entypo-lastfm-circled.entypo-right a:after, .entypo.entypo-lastfm-circled:before{ content : "\f322"; height : inherit; }

.entypo-rdio.entypo-left a:before, .entypo-rdio.entypo-right a:after, .entypo.entypo-rdio:before{ content : "\f324"; height : inherit; }

.entypo-rdio-circled.entypo-left a:before, .entypo-rdio-circled.entypo-right a:after, .entypo.entypo-rdio-circled:before{ content : "\f325"; height : inherit; }

.entypo-spotify.entypo-left a:before, .entypo-spotify.entypo-right a:after, .entypo.entypo-spotify:before{ content : "\f327"; height : inherit; }

.entypo-spotify-circled.entypo-left a:before, .entypo-spotify-circled.entypo-right a:after, .entypo.entypo-spotify-circled:before{ content : "\f328"; height : inherit; }

.entypo-qq.entypo-left a:before, .entypo-qq.entypo-right a:after, .entypo.entypo-qq:before{ content : "\f32a"; height : inherit; }

.entypo-instagram.entypo-left a:before, .entypo-instagram.entypo-right a:after, .entypo.entypo-instagram:before{ content : "\f32d"; height : inherit; }

.entypo-dropbox.entypo-left a:before, .entypo-dropbox.entypo-right a:after, .entypo.entypo-dropbox:before{ content : "\f330"; height : inherit; }

.entypo-evernote.entypo-left a:before, .entypo-evernote.entypo-right a:after, .entypo.entypo-evernote:before{ content : "\f333"; height : inherit; }

.entypo-flattr.entypo-left a:before, .entypo-flattr.entypo-right a:after, .entypo.entypo-flattr:before{ content : "\f336"; height : inherit; }

.entypo-skype.entypo-left a:before, .entypo-skype.entypo-right a:after, .entypo.entypo-skype:before{ content : "\f339"; height : inherit; }

.entypo-skype-circled.entypo-left a:before, .entypo-skype-circled.entypo-right a:after, .entypo.entypo-skype-circled:before{ content : "\f33a"; height : inherit; }

.entypo-renren.entypo-left a:before, .entypo-renren.entypo-right a:after, .entypo.entypo-renren:before{ content : "\f33c"; height : inherit; }

.entypo-sina-weibo.entypo-left a:before, .entypo-sina-weibo.entypo-right a:after, .entypo.entypo-sina-weibo:before{ content : "\f33f"; height : inherit; }

.entypo-paypal.entypo-left a:before, .entypo-paypal.entypo-right a:after, .entypo.entypo-paypal:before{ content : "\f342"; height : inherit; }

.entypo-picasa.entypo-left a:before, .entypo-picasa.entypo-right a:after, .entypo.entypo-picasa:before{ content : "\f345"; height : inherit; }

.entypo-soundcloud.entypo-left a:before, .entypo-soundcloud.entypo-right a:after, .entypo.entypo-soundcloud:before{ content : "\f348"; height : inherit; }

.entypo-mix.entypo.entypo-left a:before, .entypo-mix.entypo.entypo-right a:after, .entypo.entypo-mixi:before{ content : "\f34b"; height : inherit; }

.entypo-behance.entypo-left a:before, .entypo-behance.entypo-right a:after, .entypo.entypo-behance:before{ content : "\f34e"; height : inherit; }

.entypo-google-circles.entypo-left a:before, .entypo-google-circles.entypo-right a:after, .entypo.entypo-google-circles:before{ content : "\f351"; height : inherit; }

.entypo-vkontakte.entypo-left a:before, .entypo-vkontakte.entypo-right a:after, .entypo.entypo-vkontakte:before{ content : "\f354"; height : inherit; }

.entypo-smashing.entypo-left a:before, .entypo-smashing.entypo-right a:after, .entypo.entypo-smashing:before{ content : "\f357"; height : inherit; }

.entypo-sweden.entypo-left a:before, .entypo-sweden.entypo-right a:after, .entypo.entypo-sweden:before{ content : "\f601"; height : inherit; }

.entypo-db-shape.entypo-left a:before, .entypo-db-shape.entypo-right a:after, .entypo.entypo-db-shape:before{ content : "\f600"; height : inherit; }

.entypo-logo-db.entypo-left a:before, .entypo-logo-db.entypo-right a:after, .entypo.entypo-logo-db:before{ content : "\f603"; height : inherit; }

/* Icons */
.entypo{
    font-family : "entypo";
    font-style : normal;
    font-weight : normal;
    line-height : 1;
    position : relative;
}
/* SHAME */
.ie8 .xxwide, .ie8 .xwide, .ie8 .wide, .ie8 .normal, .ie8 .narrow, .ie8 .xnarrow{ display : inline; }
.ie8 .xxwide + input, .ie8 .xwide + input, .ie8 .wide + input, .ie8 .normal + input, .ie8 .narrow + input, .ie8 .xnarrow + input{ display : inline; margin : 0 0 0 -.25em; }
.ie8 .ttip:before, .ie8 .ttip:after{ display : none; }
.ie8 .ttip:hover:before, .ie8 .ttip:hover:after{ display : block; }

.ie9 .radio.checked i, .ie9 .checkbox.checked i{ top : 0; }
